<!-- <p>product-summary works!</p> -->

<div class="example-container">
     
    <div>
      <label style="margin-left: 20px !important;">Main Product: </label>
      <mat-form-field class="example-full-width ml-2">
  
        <mat-label >Select Product</mat-label>
      <mat-select disableRipple [(ngModel)]="prodName" >
        <mat-option value=""></mat-option>
        <mat-option *ngFor="let item of prodList" value={{item}}>{{item}}</mat-option>
       
      </mat-select>
      </mat-form-field>
      
      <button mat-raised-button color="warn"  class="m-4" (click)="getProductData()">Show</button>

    </div>

  
</div>
<div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page">
</mat-paginator>
</div>
<div class="mat-elevation-z8 align">
    <table mat-table  [dataSource]="dataSource" class="table table-striped table-cash">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> S.No. </th>
      <td mat-cell *matCellDef="let element; let i = index" style="text-align: center;"> {{getSerialNumber(i)}} </td>
      <td mat-footer-cell *matFooterCellDef ></td>  
  </ng-container>
  <ng-container matColumnDef="dealrName">
    <th mat-header-cell *matHeaderCellDef>Dealor Name</th>
    <td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: center;"> {{element.dealername}} </td>
    <td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="pcs">
  <th mat-header-cell *matHeaderCellDef> Pcs </th>
  <td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: right;"> {{element.pieces}} </td>
  <td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="gwt">
<th mat-header-cell *matHeaderCellDef> GWT </th>
<td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: right;"> {{element.gwt |number : '1.3-3'}} </td>
<td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="nwt">
    <th mat-header-cell *matHeaderCellDef> Nwt </th>
    <td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: right;"> {{element.nwt |number : '1.3-3'}} </td>
    <td mat-footer-cell *matFooterCellDef ></td>  
    </ng-container>
    

    
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  
   </table>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page">
</mat-paginator> -->
</div>



  <!-- <p>Product Summary Component Works</p> -->
