
<div class="example-container">
     
    <div>
      <label style="margin-left: 20px !important;">From: </label>
          <mat-form-field>
      <input matInput [matDatepicker]="picker1"  placeholder="Choose a date" [(ngModel)]="billStartDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>   
    
    <label style="margin-left: 20px !important;">To: </label>
          <mat-form-field>
      <input matInput [matDatepicker]="picker2"  placeholder="Choose a date" [(ngModel)]="billEndDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
      
      <button mat-raised-button color="warn"  class="ml-4" (click)="getCashBookDetails()">Show</button>

      
    </div>

  
</div>

<div class="mat-elevation-z8 align">
  <table mat-table  [dataSource]="dataSource">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> S.No. </th>
    <td mat-cell *matCellDef="let element; let i = index" > {{ getSerialNumber(i) }} </td>
    <td mat-footer-cell *matFooterCellDef >Total</td>  
</ng-container>
<ng-container matColumnDef="date">
  <th mat-header-cell *matHeaderCellDef> Date </th>
  <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.billdate}} </td>
  <td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="type">
<th mat-header-cell *matHeaderCellDef> Type </th>
<td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.type}} </td>
<td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="particular">
<th mat-header-cell *matHeaderCellDef>Particulars </th>
<td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.particulars}} </td>
<td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="voucherNo">
  <th mat-header-cell *matHeaderCellDef> Voucher/R.No </th>
  <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.sno}} </td>
  <td mat-footer-cell *matFooterCellDef ></td>  
  </ng-container>
  <ng-container matColumnDef="debit">
    <th mat-header-cell *matHeaderCellDef>Debit </th>
    <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.debit}} </td>
    <td mat-footer-cell *matFooterCellDef ></td>  
    </ng-container>
    <ng-container matColumnDef="credit">
      <th mat-header-cell *matHeaderCellDef> Credit </th>
      <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.credit}} </td>
      <td mat-footer-cell *matFooterCellDef ></td>  
      </ng-container>
<ng-container matColumnDef="balance">
<th mat-header-cell *matHeaderCellDef>Balance</th>
<td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.balance}} </td>
<td mat-footer-cell *matFooterCellDef >{{balaceAmt}}</td>  
</ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

<!-- </mat-table> -->
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
             showFirstLastButtons
             aria-label="Select page">
</mat-paginator>
</div>
