

<div class="example-container">
     
    <div>
      <label style="margin-left: 20px !important;">From: </label>
          <mat-form-field>
      <input matInput [matDatepicker]="picker1"  placeholder="Choose a date" [(ngModel)]="cstmtStartDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>   
    
    <label style="margin-left: 20px !important;">To: </label>
          <mat-form-field>
      <input matInput [matDatepicker]="picker2"  placeholder="Choose a date" [(ngModel)]="cstmrEndDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <label style="margin-left: 20px !important;">Customer Name: </label>
          <mat-form-field class="example-full-width ml-2">
      
            <mat-label >Select Customer</mat-label>
          <mat-select disableRipple [(ngModel)]="custName" >
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let item of custList" value={{item}}>{{item}}</mat-option>
           
          </mat-select>
          </mat-form-field>
        </div>
        <div class="example-container">
          <label style="margin-left: 20px !important;">City: </label>
          <input matInput  placeholder="" style="margin-right: 20px !important;" [(ngModel)]="cityName">

          <label style="margin-left: 20px !important;">Search By Mobile: </label>
         
          <input matInput  placeholder="" style="margin-right: 20px !important;" [(ngModel)]="phoneNo">
       
          <label style="margin-left: 20px !important;">Opening Amt: </label><span></span>
          <label style="margin-left: 20px !important;">Ledger Balance: </label><span></span>
      <!-- </div> -->
      
          
        </div>
        <div class="example-container">
          <label style="margin-left: 20px !important;">Address: </label>
         
          <mat-form-field class="example-full-width">

            <textarea matInput  cols="200" rows="3"></textarea>
            <!-- <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="50"></textarea> -->

           
            <!-- <textarea matInput rows="1" cols="250" placeholder="" [(ngModel)]="address"></textarea> -->
          </mat-form-field>       
          
         </div>
         <div class="example-container">
            <label style="margin-left: 20px !important;">Mobile No: </label>
         
            <input matInput  placeholder="" style="margin-right: 20px !important;" [(ngModel)]="mobileNo">
         
            <label style="margin-left: 20px !important;">GSTIN: </label>
         
            <input matInput  placeholder="" style="margin-right: 20px !important;" [(ngModel)]="gstIn">
            <label style="margin-left: 20px !important;">PAN NO: </label>
         
            <input matInput  placeholder="" style="margin-right: 20px !important;" [(ngModel)]="panNo1">
            <input matInput  placeholder="" style="margin-right: 20px !important;" [(ngModel)]="panNo2">

      <button mat-raised-button color="warn"  class="m-4" >Show</button>
      
      
    </div>

  
</div>
<div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
             showFirstLastButtons
             aria-label="Select page">
</mat-paginator>
</div>
<div class="mat-elevation-z8 align">
  <table mat-table  [dataSource]="dataSource" class="table table-striped table-cash">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> S.No. </th>
    <td mat-cell *matCellDef="let element; let i = index" > {{ i+1 }} </td>
    <td mat-footer-cell *matFooterCellDef >Total</td>  
</ng-container>
<ng-container matColumnDef="date">
  <th mat-header-cell *matHeaderCellDef>Date</th>
  <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.billDate}} </td>
  <td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="billNo">
<th mat-header-cell *matHeaderCellDef>Bill No/Rec.No </th>
<td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.jewelType}} </td>
<td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="particular">
<th mat-header-cell *matHeaderCellDef>Particulars</th>
<td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.billNo}} </td>
<td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="debit">
<th mat-header-cell *matHeaderCellDef>Debit</th>
<td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.custName}} </td>
<td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="credit">
  <th mat-header-cell *matHeaderCellDef>Credit</th>
  <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.totPieces}} </td>
  <td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="balance">
<th mat-header-cell *matHeaderCellDef>Balance</th>
<td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.totGwt}} </td>
<td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="days">
<th mat-header-cell *matHeaderCellDef>Days</th>
<td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.totNwt}} </td>
<td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

<!-- </mat-table> -->
</table>
<!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
             showFirstLastButtons
             aria-label="Select page">
</mat-paginator> -->
</div> 