<div class="example-container">
    <div>
        <label style="margin-left: 5px !important;">From: </label>
        <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Choose a date" [(ngModel)]="billStartDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <label style="margin-left: 5px !important;">To: </label>
        <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Choose a date" [(ngModel)]="billEndDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <label style="margin-left: 5px !important;">Jewel Type: </label>
        <mat-form-field class="example-full-width ml-2">
            <mat-label>Select Jewel</mat-label>
            <mat-select disableRipple [(ngModel)]="jewelType">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let item of jewelTypeList" value={{item}}>{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <label style="margin-left: 5px !important;">Product Name: </label>
        <mat-form-field class="example-full-width ml-2">
            <mat-label>Select Product</mat-label>
            <mat-select disableRipple [(ngModel)]="productName">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let item of productNameList" value={{item}}>{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <label style="margin-left: 5px !important;">Counter: </label>
        <mat-form-field class="example-full-width ml-2">
            <mat-label>Select Counter</mat-label>
            <mat-select disableRipple [(ngModel)]="counter">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let item of counterList" value={{item}}>{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <label style="margin-left: 5px !important;">Prefix: </label>
        <mat-form-field class="example-full-width ml-2">
            <mat-label>Select Prefix</mat-label>
            <mat-select disableRipple [(ngModel)]="prefix">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let item of prefixList" value={{item}}>{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <label style="margin-left: 5px !important;">Customer Name: </label>
        <mat-form-field class="example-full-width ml-2">
            <mat-label>Select Customer</mat-label>
            <mat-select disableRipple [(ngModel)]="customerName">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let item of customerNameList" value={{item}}>{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <label style="margin-left: 5px !important;">Emp. Code: </label>
        <input matInput style="margin-right: 10px !important;" [(ngModel)]="empCode">
        <label style="margin-left: 5px !important;">Tag No: </label>
        <input matInput style="margin-right: 10px !important;" [(ngModel)]="tagNo">
        <label style="margin-left: 5px !important;">Bill No: </label>
        <input matInput style="margin-right: 10px !important;" [(ngModel)]="billNO">

        <button mat-raised-button color="warn" class="ml-4" (click)="GetProduceWiseSalesDetails()"
            style="margin-left: 5px !important;">Show</button>
    </div>


</div>

<div class="mat-elevation-z8 align">
    <table mat-table [dataSource]="dataSource" class="table table-striped table-cash">
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> S.No. </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ i+1 }} </td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>
        <ng-container matColumnDef="billdate">
            <th mat-header-cell *matHeaderCellDef> Bill Date </th>
            <td mat-cell *matCellDef="let element"> {{ element.billDate }} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="jeweltype">
            <th mat-header-cell *matHeaderCellDef> Jewel Type </th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.jewelType}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="billno">
            <th mat-header-cell *matHeaderCellDef> Bill No </th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.billNo}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="tagno">
            <th mat-header-cell *matHeaderCellDef>Tag No</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position">  {{element.tagNo}}  </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="mainproduct">
            <th mat-header-cell *matHeaderCellDef>Main Product</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.mname}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="productname">
            <th mat-header-cell *matHeaderCellDef>Product Name</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.productName}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="prefix">
            <th mat-header-cell *matHeaderCellDef>Prefix</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.prefix}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="pcs">
            <th mat-header-cell *matHeaderCellDef>Pcs</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.pieces}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="gwt">
            <th mat-header-cell *matHeaderCellDef>Gwt</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.gwt}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="less">
            <th mat-header-cell *matHeaderCellDef>Less</th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ element.gwt - element.nwt }} </td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>
        <ng-container matColumnDef="nwt">
            <th mat-header-cell *matHeaderCellDef>Nwt</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.nwt}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="cts">
            <th mat-header-cell *matHeaderCellDef>Cts</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.item_Cts}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="diacts">
            <th mat-header-cell *matHeaderCellDef>Dia Cts</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position">  {{element.item_Diamonds}}  </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="uncuts">
            <th mat-header-cell *matHeaderCellDef>Uncuts</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.item_Uncuts}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.amount}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="stoneamount">
            <th mat-header-cell *matHeaderCellDef>Stone Amount</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.itemamt}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="totamount">
            <th mat-header-cell *matHeaderCellDef>TOT Amount</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.totamt}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="tagdate">
            <th mat-header-cell *matHeaderCellDef>Tag Date</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position">{{element.tagDate}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="huid">
            <th mat-header-cell *matHeaderCellDef>HUID</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position">{{element.huid}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="hsncode">
            <th mat-header-cell *matHeaderCellDef>HSN Code</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position">{{element.hsncode}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
    </mat-paginator>
</div>