
.carousel .carousel-indicators button {
    width: 10px;
   height: 10px;
   border-radius: 100%;
 }

 /* .carousel.carousel-custom .carousel-indicators {
    align-items: center;
    position: static;
    z-index: auto;
    margin: 0;
    padding: 0;
    list-style: none;
} */

.btn-align {
    position: relative;
    margin-left: 34%;
    margin-top: -6vh;
    margin-bottom: -1vh;
}

.validate-baner {
    color: #a31a27;
    text-align: center;
    margin: .5vh;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
}

.carousel.carousel-custom .carousel-indicators button:active {
    width: 15px;
    color: green;
}