<div class="row" style="background-color: #8080802e;">
    <div class="div-left-profile">
        <div class="card name-card" style="height: 40vh;">
            <div class="row text-center profile-name">
                <div _ngcontent-ifi-c61="" class="w-80px me-2"><span _ngcontent-ifi-c61=""
                        class="svg-icon svg-icon-primary svg-icon-2hx">
                        <svg _ngcontent-ifi-c61="" xmlns="http://www.w3.org/2000/svg" width="100" height="100"
                            viewBox="0 0 24 24" fill="none">
                            <path _ngcontent-ifi-c61="" opacity="0.3"
                                d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z"
                                fill="black"></path>
                            <path _ngcontent-ifi-c61=""
                                d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z"
                                fill="black"></path>
                        </svg>
                    </span>
                </div>
                <span><b style="color: red; font-family: none;">Hello!&nbsp;</b> Vijay KUMAR</span>
                <div class="welcome-times">
                    Welcome to TimeseraERP.
                </div>
            </div>

        </div>
        <div class="div-left-inv">
            <div class="mt-1">
                <div class="card div-left-countone" style="margin-top: -6.5vh;">
                    <span class="font-box">Current Invo.</span>
                    <div class="inv-box">99999</div>
                </div>
                <div class="card div-left-counttwo" style="margin-top: -6.5vh;">
                    <span class="font-box">Total Amt</span>
                    <div class="inv-box">99999</div>
                </div>
            </div>
            <div class="mt-1">
                <div class="card div-left-countone mt-4" style="margin-bottom: 2vh;">
                    <span class="font-box">Xcgtunch dshbv</span>
                    <div class="inv-box">99999</div>
                </div>
                <div class="card div-left-counttwo mt-4" style="margin-bottom: 2vh;">
                    <span class="font-box">Xcgtunch dshbv</span>
                    <div class="inv-box">99999</div>
                </div>
            </div>
        </div>
        <div class="table-payment mt-2">
            <table class="table table-striped table-cash">
                <thead class="table-dark">
                    <tr>
                        <th>Payment Type</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CRIDET</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <td>DEBIT</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <td>G-PAY</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <td>Phone PAY</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <td>CASH</td>
                        <td>0.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row alertbox-card">
        <div class="card" style="background: rgb(140, 166, 218);">
            <div class="validate-baner">
                Vallid Till 30 / 12 / 2023.
            </div>
        </div>
        <div id="carouselExampleDark" class="carousel carousel-dark slide rates-slide">
            <div class="row">
                <h3>Alerts/Dues</h3>
                <div class="carousel-indicators btn-align">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active "
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <table>
                        <thead>
                            <td>SNO</td>
                            <td>Name</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Madhu</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Madhu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <table>
                        <thead>
                            <td>SNO</td>
                            <td>Name2</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Madhu2</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Madhu2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="carousel-item">
                    <table>
                        <thead>
                            <td>SNO</td>
                            <td>Name3</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Madhu3</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Madhu3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="carouselExampleDarkGold" class="carousel carousel-dark slide rates-slide">
            <div class="row">
                <h3>Today Rates</h3>
                <div class="carousel-indicators btn-align">
                    <button type="button" data-bs-target="#carouselExampleDarkGold" data-bs-slide-to="0" class="active "
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDarkGold" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDarkGold" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <table>
                        <thead>
                            <td>SNO</td>
                            <td>Name</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Madhu</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Madhu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <table>
                        <thead>
                            <td>SNO</td>
                            <td>Name2</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Madhu2</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Madhu2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="carousel-item">
                    <table>
                        <thead>
                            <td>SNO</td>
                            <td>Name3</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Madhu3</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Madhu3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card" style="background: rgb(28, 50, 94);">
            <div class="card-body d-flex ps-xl-15">
                <div class="m-0">
                    <div class="position-relative fs-2x z-index-2 fw-bolder text-white mb-7"><span class="me-2">Offering
                            24*7 Support,<br><span class="position-relative d-inline-block text-danger"><a id="applink"
                                    href="ticket" class="text-success opacity-75-hover">Click Here</a><span
                                    class="position-absolute opacity-50 bottom-0 start-0 border-4 border-danger border-bottom w-100"></span></span></span>For
                        Assistance</div>
                    <div class="mb-2 mt-2"><a id="applink" href="ticket"
                            class="btn btn-success fw-bold me-2">Support</a><a id="verify-btn"
                            class="btn btn-primary fw-bold me-2">Verify my account</a></div>
                </div><img src="../../assets/images/support.png" class="position-absolute me-3 bottom-0 end-0 h-200px"
                    alt="" style="width: 24vh">
            </div>
        </div>
        <div class="card">
            <div class="mat-elevation-z8 align due-table">
                <table mat-table [dataSource]="dataSource" class="table-cash">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> S.No. </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{ i+1 }} </td>
                        <td mat-footer-cell *matFooterCellDef>Total</td>
                    </ng-container>
                    <ng-container matColumnDef="cntrName">
                        <th mat-header-cell *matHeaderCellDef>Counter Name</th>
                        <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.billDate}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="pcs">
                        <th mat-header-cell *matHeaderCellDef>Pcs</th>
                        <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.jewelType}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="gwt">
                        <th mat-header-cell *matHeaderCellDef>Gwt</th>
                        <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.custName}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="nwt">
                        <th mat-header-cell *matHeaderCellDef>Nwt</th>
                        <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.custName}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>Amount</th>
                        <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.custName}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

                    <!-- </mat-table> -->
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>