<div class="container">
    <div class="row">
        <mat-grid-list cols="4" rowHeight="2:1" gutterSize="10px" style="margin: 5px; padding: 10px;">
            <mat-grid-tile rowspan="3" style="width: calc(32% - 7.5px) !important;
            left: 0px;
            margin-top: 0px;
            padding-top: calc(37.5% - 2.5px) !important;">


                <mat-card class="mat-elevation-z8 card-prop" style="background-color: #fff;">

                    <!-- Content for CARD 1 -->
                    <div style="background-color: #50be91; margin-top: -159px;">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    </div>
                    <div style="background-color: white; padding: 10px;">
                        <div style="display: flex;
                            justify-content: space-between;
                            gap: 20px ;    padding-left: 32px;
                padding-right: 32px ;
                            height: 100px; margin-bottom: 20px; margin-top: -38px;">
                            <div style="width: 38%; background: #f0f0f0; padding: 8px;">
                                <p>Box 1</p>
                            </div>
                            <div style="width: 38%; background: #f0f0f0; padding: 8px;">
                                <p>Box 2</p>
                            </div>
                        </div>
                        <div style="display: flex;
                                                justify-content: space-between;
                                                gap: 20px;
                                                height: 100px;     padding-left: 32px;
                                    padding-right: 32px; ">
                            <div style="width: 38%; background: #f0f0f0; padding: 8px;">
                                <p>Box 3</p>
                            </div>
                            <div style="width: 38%; background: #f0f0f0; padding: 8px;">
                                <p>Box 4</p>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile style="background-color: red;left: calc(28% + 2.5px) !important;
            width: calc(24% - 7.5px ) !important; ">

                <mat-card class="example-card" style="width: calc(195%);">
                    <mat-card-header>
                        <mat-card-title style="visibility: hidden;">Wish Box</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <!-- <p>Here you can find the details about users/roles.</p> -->
                    </mat-card-content>
                    <mat-card-header>
                        <h4 style="text-align: center;">Wish Box</h4>
                        <mat-card-title style="visibility: hidden;">Wish Box</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div style="display: flex;
                     justify-content: space-between;
                     gap: 15px;
                     height: 90px;
         padding-right: 85px; width: 104%;
            text-align: center; padding-left: 85px; margin-bottom: 5px;">
                            <div style="width: 100%; background: #cebfbf; padding: 8px;text-align: center;">
                                <h3>B <span style="font-size: 40px;">10</span></h3>
                            </div>
                            <div style="width: 100%; background: #f0f0f0; padding: 8px; ">
                                <h3>A <span style="font-size: 40px !important;">10</span></h3>
                            </div>
                        </div>
                        <p style=" visibility: hidden;">Here you can find the details about all the databases and
                            tables.</p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile style="background-color: blue;">
                <mat-card class="example-card" style="width: calc(195%);">
                    <mat-card-header>
                    </mat-card-header>
                    <mat-card-content>
                        <!-- <p>Here you can find the details about users/roles.</p> -->
                    </mat-card-content>
                    <mat-card-header>
                        <mat-card-title style="visibility: hidden;">Wish Box</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div style="display: block;
                            justify-content: space-between;
                            gap: 15px;
                            height: 100px;
                                width: 50%;
                            text-align: center;  margin-bottom: 20px;">
                            <h3>Dues:</h3><br>
                            <div style="margin-top: -25px;">
                                <span style="font-size: 17px;">Today's Due: 100</span><br>
                                <span style="font-size: 17px;">Total Dues: 200</span>
                            </div>
                        </div>
                        <p style=" visibility: hidden;">Here you can find the details about all the databases and
                            tables.</p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile style="background-color: brown;">4</mat-grid-tile>
            <mat-grid-tile colspan="3" style="background-color: blueviolet;">
                <div style="margin-top: -20px;">
                    <h3>Offering 8 * 6 Support</h3>
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle value="bold">Support</mat-button-toggle>
                        <mat-button-toggle value="italic">Ticket</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="3" style="background-color: aqua;">
                <div style="margin-top: -20px;">
                    <h3>Valid Till : 01-JAN-2024</h3>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="example-container mat-elevation-z8" style="width: 100%; margin: 5px; padding: 10px;">
                <mat-table #table [dataSource]="dataSource">
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
        <div class="col-md-8">
            <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>

        </div>
    </div>
</div>