<div class="row" style="background-color: #8080802e;">
    <div class="div-left-profile">
        <div class="card name-card" style="height: 30vh;">
            <div class="row text-center profile-name">
                <span>
                     <div style="margin-top: 5px;">{{userDetails.firmname}}</div>
                </span>
                <div class="addres-times">
                    <div>{{userDetails.adD1}}</div>
                    <div>{{userDetails.adD2}}</div>
                </div>
                <div style="font-size: 2.4vh; margin-top: 15px;">
                    CITY : {{userDetails.city}}
                </div>
                <div style="font-size: 2.4vh">
                    {{userDetails.tinno}}
                </div>
            </div>

        </div>
        <div class="div-left-inv">
            <div class="mt-1">
                <div class="card div-left-countone" style="margin-top: -6.5vh;">
                    <span class="font-box">FINANCIAL YEAR</span>
                    <div class="inv-box">0</div>
                </div>
                <div class="card div-left-counttwo" style="margin-top: -6.5vh;">
                    <span class="font-box">GST TYPE</span>
                    <div class="inv-box">REGULAR</div>
                </div>
            </div>
            <div class="mt-1">
                <div class="card div-left-countone mt-4" style="margin-bottom: 2vh;">
                    <span class="font-box">INVOICE NO</span>
                    <div class="inv-box">{{genBillNo}}</div>
                </div>
                <div class="card div-left-counttwo mt-4" style="margin-bottom: 2vh;">
                    <span class="font-box">TOTAL INVOICES</span>
                    <div class="inv-box">{{totalBillsCount}}</div>
                </div>
            </div>
        </div>
        <div class="table-payment mt-2">
            <table class="table table-striped table-cash">
                <!-- <thead class="table-dark">
                    <tr>
                        <th>Type</th>
                        <th>GWT</th>
                        <th>NWT</th>
                    </tr>
                </thead> -->
                <tbody *ngFor="let item of dayTranscationList; let i = index">
                    <tr style="line-height: 2vh;">
                        <td colspan="4" class="vallid-color">{{item.mainhead}}</td>
                    </tr>
                    <tr *ngIf="getDayTranscationTotal(item.mainhead,'MIGWT') > 0 || getDayTranscationTotal(item.mainhead,'MINWT') > 0">
                        <td>ISSUE WEIGHT</td>
                        <td class="metal-align"> GWT :{{getDayTranscationTotal(item.mainhead,'MIGWT') | number : '1.3-3'}}</td>
                        <td class="metal-align">NWT :{{getDayTranscationTotal(item.mainhead,'MINWT') | number : '1.3-3'}}</td>
                    </tr>
                    <tr *ngIf="getDayTranscationTotal(item.mainhead,'MRGWT') > 0 || getDayTranscationTotal(item.mainhead,'MRNWT') > 0">
                        <td>RECEIPT WEIGHT</td>
                        <td class="metal-align">GWT : {{getDayTranscationTotal(item.mainhead,'MRGWT') | number : '1.3-3'}}</td>
                        <td class="metal-align">NWT : {{getDayTranscationTotal(item.mainhead,'MRNWT') | number : '1.3-3'}}</td>
                    </tr>
                    <tr *ngIf=" getDayTranscationTotal(item.mainhead,'CGWT') > 0 || getDayTranscationTotal(item.mainhead,'CNWT') > 0">
                        <td>VALUE</td>
                        <td class="metal-align">{{getDayTranscationTotal(item.mainhead,'CGWT') | number : '1.2-2'}}</td>
                        <td class="metal-align">{{getDayTranscationTotal(item.mainhead,'CNWT') | number : '1.2-2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row alertbox-card">
        <div class="card vallid-color">
            <div class="validate-baner">
                Vallid Till 30 / 12 / 2023.
            </div>
        </div>
        <div id="carouselExampleDark" class="carousel carousel-dark slide due-slide">
            <div class="row">
                <h6 style="padding-top: 5px;"><span *ngIf="wishboxtab">WISH BOX</span> <span *ngIf="duestab">DUES</span></h6>
                <div class="carousel-indicators btn-align">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active "
                        aria-current="true" aria-label="Slide 1" (click)="tabHeaderChange('WISH')"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2" (click)="tabHeaderChange('DUES')"></button>
                </div>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="wbleft">
                        <div class="card wishbox">B</div>
                        <div class="card wishbox wishfont" (click)="displayWishBoxDetails('B')">{{anniversaryWishBox.count}}</div>
                    </div>
                    <div class="wbright">
                        <div class="card wishbox">A</div>
                        <div class="card wishbox wishfont" (click)="displayWishBoxDetails('A')">{{birthdayWishBox.count}}</div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="wbleft">
                        <div class="card duebox">TODAY</div>
                        <div class="card duebox" [ngClass]="totalDuesandCount.length<=3 ? 'duefont' : 'wishfont'" (click)="displayDueBoxDetails('TD')">{{todayDuesandCount.count}}</div>
                    </div>
                    <div class="wbright">
                        <div class="card duebox">TOTAL</div>
                        <div class="card duebox" [ngClass]="totalDuesandCount.length<=3 ? 'duefont' : 'wishfont'" (click)="displayDueBoxDetails('TT')">{{totalDuesandCount.count}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="carouselExampleDarkGold" class="carousel carousel-dark slide rates-slide">
            <div class="row">
                <h6 style="padding-top: 5px;"><span *ngIf="ratesTab">TODAY RATES</span> <span *ngIf="rateChangeTab">EDIT RATES</span></h6>
                <div class="carousel-indicators btn-align">
                    <button type="button" data-bs-target="#carouselExampleDarkGold" data-bs-slide-to="0" class="active "
                        aria-current="true" aria-label="Slide 1" (click)="tabHeaderChange('GOLD')"></button>
                    <button type="button" data-bs-target="#carouselExampleDarkGold" data-bs-slide-to="1"
                        aria-label="Slide 2" (click)="tabHeaderChange('EDIT')"></button>
                </div>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div *ngFor="let item of dailyRates; let i = index">
                        <div class="row" *ngIf="showhiderateheader(item.mainproduct)" style="width: 100%;">
                            <span style="color: crimson;margin-left: 1vh;font-size: 2.5vh;">{{item.mainproduct}}</span>
                            <hr style="margin-top: 0vh !important;margin-bottom: 0.5vh;">
                        </div>
                        <div class="card-align-st">
                            {{item.prefix == 'SILVER' ? "" :item.prefix}}
                            {{item.prefix == 'SILVER'? "": ":" }} 
                            Rs. {{item.rate}}/-
                        </div>
                    </div>
                    <div *ngIf="dailyRates.length==0">
                        <div class="row" style="width: 100%;">
                            <span style="color: crimson;margin-left: 1vh; font-size: 2.5vh;">GOLD</span>
                            <hr style="margin-top: 0vh !important;margin-bottom: 0.5vh;">
                        </div>
                        <div class="row" style="width: 100%;">
                            <span style="color: crimson;margin-left: 1vh; font-size: 2.5vh;">SILVER</span>
                            <hr style="margin-top: 0vh !important;margin-bottom: 0.5vh;">
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                   <h4>Coming Soon.</h4>
                </div>
            </div>
        </div>
        <div class="card" style="background: rgb(28, 50, 94);">
            <div class="">
                <div class="m-0" style="font-size: 2vh;">
                    <div class="position-relative fs-2x z-index-2 fw-bolder text-white mb-7"><span class="me-2">Offering
                            24*7 Support,<br><span class="position-relative d-inline-block text-danger"><a id="applink"
                                    href="ticket" class="text-success opacity-75-hover">Click Here</a><span
                                    class="position-absolute opacity-50 bottom-0 start-0 border-4 border-danger border-bottom w-100"></span></span></span>For
                        Assistance</div>
                    <div class="mb-2 mt-2"><a id="applink" href="ticket"
                            class="btn btn-success fw-bold me-2" style="font-size: 2vh;">Support</a><a id="verify-btn"
                            class="btn btn-primary fw-bold me-2" style="font-size: 2vh;">Verify my account</a></div>
                </div><img src="../../assets/images/support.png" class="position-absolute me-3 bottom-0 end-0 h-200px"
                    alt="" style="width: 20%; height: 100%;">
            </div>
        </div>
        <div class="card" style="    margin-top: 2.5vh;">
            <div class="align due-table">
                <div class="row">
                    <div class="col-2" style="width: 24% !important;">
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search Here!" class="filter-tab">
                    </div>
                    <div class="col">
                        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Select page">
                        </mat-paginator>
                    </div>
                </div>
                <div class="mat-elevation-z8 align" style="margin-right: 5px !important;">
                    <table mat-table [dataSource]="dataSource" id="sale-register" class="table table-striped table-cash "
                        style="white-space: nowrap;">
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> S.No. </th>
                            <td mat-cell *matCellDef="let element; let i = index"> {{ i+1 }} </td>
                            <td mat-footer-cell *matFooterCellDef style="background-color: #c5efe4;">Total</td>
                        </ng-container>
                        <ng-container matColumnDef="billDate">
                            <th mat-header-cell *matHeaderCellDef>Bill Date</th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.billDate |date:'dd/MM/yyyy'}}
                            </td>
                            <td mat-footer-cell *matFooterCellDef style="background-color: #c5efe4;"></td>
                        </ng-container>
                        <ng-container matColumnDef="jewelType">
                            <th mat-header-cell *matHeaderCellDef> Jewel Type </th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.jewelType}} </td>
                            <td mat-footer-cell *matFooterCellDef style="background-color: #c5efe4;"></td>
                        </ng-container>
                        <ng-container matColumnDef="billNo">
                            <th mat-header-cell *matHeaderCellDef> Bill No </th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.billNo}} </td>
                            <td mat-footer-cell *matFooterCellDef style="background-color: #c5efe4;"></td>
                        </ng-container>
                        <ng-container matColumnDef="custName">
                            <th mat-header-cell *matHeaderCellDef>Customer Name</th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.custName}} </td>
                            <td mat-footer-cell *matFooterCellDef style="background-color: #c5efe4;"></td>
                        </ng-container>
                        <ng-container matColumnDef="pcs">
                            <th mat-header-cell *matHeaderCellDef>Pcs</th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: right;">
                                {{element.totPieces
                                }} </td>
                            <td mat-footer-cell *matFooterCellDef
                                style="text-align: right;background-color: #c5efe4; font-size: 14px;font-weight:500;">{{
                                calculateTotal('totPieces') }}</td>
                        </ng-container>
                        <ng-container matColumnDef="gwt">
                            <th mat-header-cell *matHeaderCellDef>Gwt</th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: right;">
                                {{element.totGwt |
                                number : '1.3-3' }} </td>
                            <td mat-footer-cell *matFooterCellDef
                                style="text-align: right;background-color: #c5efe4; font-size: 14px;font-weight:500;">{{
                                calculateTotal('totGwt')| number : '1.3-3' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="nwt">
                            <th mat-header-cell *matHeaderCellDef>Nwt</th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: right;">
                                {{element.totNwt |
                                number : '1.3-3' }} </td>
                            <td mat-footer-cell *matFooterCellDef
                                style="text-align: right;background-color: #c5efe4; font-size: 14px;font-weight:500;">{{
                                calculateTotal('totNwt') | number : '1.3-3' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="totalAmt">
                            <th mat-header-cell *matHeaderCellDef>Total Amount</th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: right;">
                                {{element.totAmt |
                                number : '1.2-2' }} </td>
                            <td mat-footer-cell *matFooterCellDef
                                style="text-align: right;background-color: #c5efe4; font-size: 14px;font-weight:500;">{{
                                calculateTotal('totAmt') | number : '1.2-2' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="discount">
                            <th mat-header-cell *matHeaderCellDef>Discount</th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: right;">
                                {{element.disAmt
                                |number : '1.2-2' }} </td>
                            <td mat-footer-cell *matFooterCellDef
                                style="text-align: right;background-color: #c5efe4; font-size: 14px;font-weight:500;">{{
                                calculateTotal('disAmt') | number : '1.2-2' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="grsAmt">
                            <th mat-header-cell *matHeaderCellDef>Gross Amt</th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: right;">
                                {{element.grsAmt |
                                number : '1.2-2' }} </td>
                            <td mat-footer-cell *matFooterCellDef
                                style="text-align: right;background-color: #c5efe4; font-size: 14px;font-weight:500;">{{
                                calculateTotal('grsAmt') | number : '1.2-2' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="cgst">
                            <th mat-header-cell *matHeaderCellDef>CGST</th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: right;">
                                {{element.cgst |
                                number : '1.2-2' }} </td>
                            <td mat-footer-cell *matFooterCellDef
                                style="text-align: right;background-color: #c5efe4; font-size: 14px;font-weight:500;">{{
                                calculateTotal('cgst')
                                | number : '1.2-2' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="sgst">
                            <th mat-header-cell *matHeaderCellDef>SGST</th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: right;">
                                {{element.sgst |
                                number : '1.2-2' }} </td>
                            <td mat-footer-cell *matFooterCellDef
                                style="text-align: right;background-color: #c5efe4; font-size: 14px;font-weight:500;">{{
                                calculateTotal('sgst')
                                | number : '1.2-2' }}</td>
                        </ng-container><ng-container matColumnDef="igst">
                            <th mat-header-cell *matHeaderCellDef>IGST</th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: right;">
                                {{element.igst
                                |number : '1.2-2' }} </td>
                            <td mat-footer-cell *matFooterCellDef
                                style="text-align: right;background-color: #c5efe4; font-size: 14px;font-weight:500;">{{
                                calculateTotal('igst')
                                | number : '1.2-2' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="netAmount">
                            <th mat-header-cell *matHeaderCellDef>Net Amount</th>
                            <td mat-cell *matCellDef="let element" class="mat-column-position" style="text-align: right;">
                                {{element.netAmt |
                                number : '1.2-2' }} </td>
                            <td mat-footer-cell *matFooterCellDef
                                style="text-align: right;background-color: #c5efe4; font-size: 14px;font-weight:500;">{{
                                calculateTotal('netAmt') | number : '1.2-2' }}</td>
                        </ng-container>
                
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                
                        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>