<div class="example-container">    
    <label style="margin-left: 20px !important;">From: </label>
        <mat-form-field>
    <input matInput [matDatepicker]="picker1"  placeholder="Choose a date" [(ngModel)]="cntrWiseSaleStrtDt">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>   
  
  <label style="margin-left: 20px !important;">To: </label>
        <mat-form-field>
    <input matInput [matDatepicker]="picker2"  placeholder="Choose a date" [(ngModel)]="cntrWiseSaleEndDt">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
    
    <button mat-raised-button color="warn"  class="m-4" >Show</button>
    
  </div>
<div class="mat-elevation-z8 align">
  <table mat-table  [dataSource]="dataSource" class="table table-striped table-cash">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> S.No. </th>
    <td mat-cell *matCellDef="let element; let i = index" > {{ i+1 }} </td>
    <td mat-footer-cell *matFooterCellDef >Total</td>  
</ng-container>
<ng-container matColumnDef="cntrName">
  <th mat-header-cell *matHeaderCellDef>Counter Name</th>
  <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.billDate}} </td>
  <td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="pcs">
<th mat-header-cell *matHeaderCellDef>Pcs</th>
<td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.jewelType}} </td>
<td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>

<ng-container matColumnDef="gwt">
<th mat-header-cell *matHeaderCellDef>Gwt</th>
<td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.custName}} </td>
<td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="nwt">
    <th mat-header-cell *matHeaderCellDef>Nwt</th>
    <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.custName}} </td>
    <td mat-footer-cell *matFooterCellDef ></td>  
    </ng-container>
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.custName}} </td>
        <td mat-footer-cell *matFooterCellDef ></td>  
        </ng-container>
                                                       
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

<!-- </mat-table> -->
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
             showFirstLastButtons
             aria-label="Select page">
</mat-paginator>
</div>

