/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;



}

a.mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-interactive.mat-mdc-list-item-single-line.mdc-list-item--with-one-line:hover {
    border-radius: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    color: red;
    font-size: 16px !important;
}

a.mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-interactive.mat-mdc-list-item-single-line.mdc-list-item--with-one-line {
    padding: 6px !important;
    font-size: 14px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    border-radius: 2px;
    line-height: 15px;
}

.mat-expansion-panel-header {
    /* padding: 6px 12px !important; */
    font-size: 14px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    border-radius: 2px;
    line-height: 15px;
}

.mat-expansion-panel {
    background: none !important;
}

.icon-wrapper {
    position: absolute;
    height: 40px;
    width: 40px;
    padding: .35rem;
    background-color: #2962FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 75%;
    z-index: 2;
    cursor: pointer;

    &:hover {
        transition: all .25s;
        background-color: darken(#2962FF, 15%);
    }

    .icon {
        color: white;
    }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type='file'] {
        display: none;
    }
}

.mat-expansion-indicator::after,
::before {
    color: #fff !important;
    margin-right: 38px !important;
}

.mat-expansion-indicator::before {
    color: #fff !important;
    margin-right: 70px !important;
}

.mat-drawer-inner-container {
    background: linear-gradient(to right, #081658 0%, #000000 100%);
    color: #fff !important;
    overflow-x: hidden !important;
}

.mat-mdc-list-base {
    display: block;
    color: white !important;
}

.mat-content {
    color: #fff !important;
    font-size: 16px !important;
}

.mdc-list-item__primary-text {
    color: #0cef92 !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size: 16px !important;
    line-height: 12px !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
}

.mat-drawer-container {
    position: inherit;
}

.mat-drawer.mat-drawer-side {
    position: fixed;
    z-index: 30;


}

.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}

.app-sidenav {
    width: 280px;
}

.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.span.mdc-list-item__content {

    padding: 6px !important;
    font-size: 19px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    border-radius: 2px;
    line-height: 15px;
    text-transform: lowercase !important;
}

hr {
    display: block;
    border: 1px dashed solid;
    height: 1px;
    margin-top: -6px;

}

.mat-icon {
    margin-top: -4px !important;
}

.mat-label.ng-tns-c16-0 {
    margin-left: 60px !important;
    font-size: 14px !important;
}

span.mat-expansion-indicator.ng-tns-c36-3.ng-trigger.ng-trigger-indicatorRotate.ng-star-inserted {
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    background: rgb(204, 70, 153);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}