/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0;
     font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

a.mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-interactive.mat-mdc-list-item-single-line.mdc-list-item--with-one-line:hover {
    border-radius: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    color: red;
    font-size: 16px !important;
}

a.mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-interactive.mat-mdc-list-item-single-line.mdc-list-item--with-one-line {
    padding: 6px !important;
    font-size: 14px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    border-radius: 2px;
    line-height: 15px;
}

.mat-expansion-panel-header {
    /* padding: 6px 12px !important; */
    font-size: 14px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    border-radius: 2px;
    line-height: 15px;
}

.mat-expansion-panel {
    background: none !important;
}

.icon-wrapper {
    position: absolute;
    height: 40px;
    width: 40px;
    padding: .35rem;
    background-color: #2962FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 75%;
    z-index: 2;
    cursor: pointer;

    &:hover {
        transition: all .25s;
        background-color: darken(#2962FF, 15%);
    }

    .icon {
        color: white;
    }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type='file'] {
        display: none;
    }
}

.mat-expansion-indicator::after,
::before {
    color: #fff !important;
    margin-right: 38px !important;
}

.mat-expansion-indicator::before {
    color: #fff !important;
    margin-right: 70px !important;
}

.mat-drawer-inner-container {
    background: linear-gradient(to right, #081658 0%, #000000 100%);
    color: #fff !important;
    overflow-x: hidden !important;
}
.mat-drawer-content{
    overflow-x: hidden !important;
}
.mat-mdc-list-base {
    display: block;
    color: white !important;
}


.mat-content {
    color: #fff !important;
    font-size: 16px !important;
}

.mdc-list-item__primary-text {
    color: #0cef92 !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size: 16px !important;
    line-height: 12px !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    /* background-color: red !important; */
}
.mdc-menu-surface.mat-mdc-select-panel{
    background-color: #171435 !important;
}
.mat-drawer-container {
    position: inherit;
}
.mat-mdc-paginator-page-size-label{
    font-weight: bold;
}
.mat-drawer.mat-drawer-side {
    position: fixed;
    z-index: 30;


}

.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}

.app-sidenav {
    width: 280px;
}

.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.span.mdc-list-item__content {

    padding: 6px !important;
    font-size: 19px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    border-radius: 2px;
    line-height: 15px;
    text-transform: lowercase !important;
}

hr {
    display: block;
    border: 1px dashed solid;
    height: 1px;
    margin-top: -6px;

}

.mat-icon {
    margin-top: -4px !important;
}

.mat-label.ng-tns-c16-0 {
    margin-left: 60px !important;
    font-size: 14px !important;
}

span.mat-expansion-indicator.ng-tns-c36-3.ng-trigger.ng-trigger-indicatorRotate.ng-star-inserted {
    visibility: hidden;
}
.cdk-overlay-pane{
    padding-top: 15px;
}

.style {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* font-family : inherit; */
    border-collapse: collapse;
    width: 100%;
  }
  
  .style td, .style th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .style tr:nth-child(even)
  {background-color: #f2f2f2;}
  
  .style tr:hover 
  {background-color: #ddd;}
  
  .style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: orchid;
    color: white;
  }
  .input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .button {
    width: 50%;
    padding: 12px 20px ;
    margin: 0  25% 0 ;  
    display: inline-block;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(204, 70, 153);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

  .align{
    margin-left: 10px !important;
    margin-right: 10px !important;
    overflow-x: scroll;
    /* width: 1110px !important; */
  }
  
.mat-mdc-form-field {
--mat-mdc-form-field-floating-label-scale: 0.75;
display: inline-flex;
flex-direction: column;
width: 150px !important;
text-align: left;
}
table tr th{
    background-color: #36ac8f !important;
    text-align: center !important;
}
table tr{
    height: 20px !important;
}  
.asterick {
    font-weight: bold;
    color: red;
}
