


<div class="mat-elevation-z8">
    <label style="margin-left: 5px !important;">From: </label>
    <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="11/01/24" [(ngModel)]="billStartDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <label style="margin-left: 5px !important;">To: </label>
    <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="12/01/24" [(ngModel)]="billEndDate" >
        <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
        <mat-datepicker #picker2 ></mat-datepicker>
    </mat-form-field>

    <label style="margin-left: 5px !important;">Main Product: </label>
    <mat-form-field class="example-full-width ml-2">
        <mat-label>Select Party</mat-label>
        <mat-select disableRipple [(ngModel)]="particulars" style="padding-bottom: 20px;">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let item of productList" value={{item}}>{{item}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <button mat-raised-button color="warn" class="ml-4" (click)="getBuillonStockDetails()" style="margin-left: 5px !important;">Show</button>
    <label style="margin-left: 5px !important;">opening: {{openingBalance}}</label>
    


</div>
    <table mat-table [dataSource]="dataSource" class="table table-striped table-cash">
      <!-- Define columns -->
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef>S.No.</th>
        <td mat-cell *matCellDef="let element; let i = index" style="text-align: center;">{{ getSerialNumber(i) }}</td>
      </ng-container>
  
      <ng-container matColumnDef="date" >
        <th mat-header-cell *matHeaderCellDef >Date</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.date |date:'dd/MM/yyyy' }}</td>
      </ng-container>
  
      <ng-container matColumnDef="particular">
        <th mat-header-cell *matHeaderCellDef>Particular</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.Particular }}</td>
      </ng-container>
  
      <ng-container matColumnDef="HSNCode">
        <th mat-header-cell *matHeaderCellDef>HSN Code</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.hsncode }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Invno">
        <th mat-header-cell *matHeaderCellDef>Inv No</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.invno }}</td>
      </ng-container>
  
      <!-- Add more columns here -->
      <ng-container matColumnDef="Column1">
        <th mat-header-cell *matHeaderCellDef>Gross wt.Jama</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.column1 }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Column2">
        <th mat-header-cell *matHeaderCellDef>Net wt.Jama</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.column2 }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Column3">
        <th mat-header-cell *matHeaderCellDef>Gross wt.Nama</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.column3 }}</td>
      </ng-container>
      <ng-container matColumnDef="Column4">
        <th mat-header-cell *matHeaderCellDef>Net wt.Nama</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.column4 }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Column5">
        <th mat-header-cell *matHeaderCellDef>Balance</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.column5 }}</td>
      </ng-container>
      <!-- Header row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Data rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"
                   [length]="dataSource.data.length" [pageSize]="dataSource.paginator?.pageSize"
                   [pageIndex]="dataSource.paginator?.pageIndex">
    </mat-paginator>
  
  