<div class="example-container">
    <div>
        <label style="margin-left: 5px !important;">Main Product: </label>
        <mat-form-field class="example-full-width ml-2">
            <mat-label>Select Product</mat-label>
            <mat-select disableRipple [(ngModel)]="mName">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let item of mNameList" value={{item}}>{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <label style="margin-left: 5px !important;">Product Name: </label>
        <mat-form-field class="example-full-width ml-2">
            <mat-label>Select Product</mat-label>
            <mat-select disableRipple [(ngModel)]="productName">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let item of productNameList" value={{item}}>{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <label style="margin-left: 5px !important;">Product Category: </label>
        <mat-form-field class="example-full-width ml-2">
            <mat-label>Select Category</mat-label>
            <mat-select disableRipple [(ngModel)]="productCategory">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let item of productCategoryList" value={{item}}>{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <label style="margin-left: 5px !important;">Counter Name: </label>
        <mat-form-field class="example-full-width ml-2">
            <mat-label>Select Customer</mat-label>
            <mat-select disableRipple [(ngModel)]="counterName">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let item of counterNameList" value={{item}}>{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <label style="margin-left: 5px !important;">Category Name: </label>
        <mat-form-field class="example-full-width ml-2">
            <mat-label>Select Customer</mat-label>
            <mat-select disableRipple [(ngModel)]="categoryName">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let item of categoryNameList" value={{item}}>{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <label style="margin-left: 5px !important;">Dealer Name: </label>
        <mat-form-field class="example-full-width ml-2">
            <mat-label>Select Customer</mat-label>
            <mat-select disableRipple [(ngModel)]="dealerName">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let item of delearNameList" value={{item}}>{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <label style="margin-left: 5px !important;">Prefix: </label>
        <mat-form-field class="example-full-width ml-2">
            <mat-label>Select Prefix</mat-label>
            <mat-select disableRipple [(ngModel)]="prefix">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let item of prefixList" value={{item}}>{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="warn" class="ml-4" (click)="GetTagGenerationDetailsByFilter()"
            style="margin-left: 5px !important;">Show</button>
    </div>


</div>

<div class="mat-elevation-z8 align">
    <!-- <table mat-table [dataSource]="dataSource">
       <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> S.No. </th>
            <td mat-cell *matCellDef="let element; let i = index" style="text-align: center;"> {{i+1}} </td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>
        <ng-container matColumnDef="Tagno">
            <th mat-header-cell *matHeaderCellDef> Tag no </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ element.Tagno }} </td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>
        <ng-container matColumnDef="mname">
            <th mat-header-cell *matHeaderCellDef> mname </th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.MNAME}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="productname">
            <th mat-header-cell *matHeaderCellDef> productname </th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.PRODUCTNAME}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="pieces">
            <th mat-header-cell *matHeaderCellDef>pieces</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position">  {{element.pieces}}  </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="gwt">
            <th mat-header-cell *matHeaderCellDef> gwt </th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.gwt}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="less">
            <th mat-header-cell *matHeaderCellDef>less</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.less}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="nwt">
            <th mat-header-cell *matHeaderCellDef>nwt</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.nwt}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="prefix">
            <th mat-header-cell *matHeaderCellDef>prefix</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.prefix}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="countername">
            <th mat-header-cell *matHeaderCellDef>countername</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.countername}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
         <ng-container matColumnDef="dealername">
            <th mat-header-cell *matHeaderCellDef>dealername</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.dealername}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
         <ng-container matColumnDef="diacts">
            <th mat-header-cell *matHeaderCellDef>diacts</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.diacts}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
         <ng-container matColumnDef="diamond_Amount">
            <th mat-header-cell *matHeaderCellDef>diamond_Amount</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.diamond_Amount}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
         <ng-container matColumnDef="iteM_TOTAMT">
            <th mat-header-cell *matHeaderCellDef>iteM_TOTAMT</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.iteM_TOTAMT}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
         <ng-container matColumnDef="tagsize">
            <th mat-header-cell *matHeaderCellDef>tagsize</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.tagsize}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
         <ng-container matColumnDef="cattotwast">
            <th mat-header-cell *matHeaderCellDef>cattotwast</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.cattotwast}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="huid">
            <th mat-header-cell *matHeaderCellDef>huid</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.huid}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="brandname">
            <th mat-header-cell *matHeaderCellDef>brandname</th>
            <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.brandname}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
    </mat-paginator> -->
</div>