<div class="example-container row">
    <div class="row row-cols-3" style="float: left; width: 91%;">
      <div class="col">
        <label class="lable-wid">Date</label>
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Choose a date" [(ngModel)]="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col"></div><div class="col"></div>
      <div class="col">
        <label class="lable-wid">Total</label>
        <mat-form-field>
            <input matInput [(ngModel)]="totalCash" disabled>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
            <input matInput [(ngModel)]="totalCash" disabled>
        </mat-form-field>
      </div>
      <div class="col">
        <label class="lable-wid">Total</label>
        <mat-form-field>
            <input matInput [(ngModel)]="totalCash" disabled>
        </mat-form-field>
      </div>
    </div>
    <div style="float: right; width: 10%;">
      <button mat-raised-button color="warn" class="ml-4 show-btn" (click)="getDayTranscationDetails()">Show</button>
    </div>
  </div>


  <div class="row">
    <button mat-raised-button color="primary" class="m-4" (click)="exportDataSource()"
      style="width: 15%;">Export</button>
  </div>
  <div class="mat-elevation-z8 align row">
  
  </div>