<!-- <p>product-summary works!</p> -->

<div class="example-container">
     
    <div>
      <label style="margin-left: 20px !important;">Main Product: </label>
      <mat-form-field class="example-full-width ml-2">
  
        <mat-label >Select Product</mat-label>
      <mat-select disableRipple [(ngModel)]="prodName" >
        <mat-option value=""></mat-option>
        <mat-option *ngFor="let item of tempList" value={{item}}>{{item}}</mat-option>
       
      </mat-select>
      </mat-form-field>
      
     
    </div>

  
</div>
<div class="mat-elevation-z8 align">
    <table mat-table  [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> S.No. </th>
      <td mat-cell *matCellDef="let element; let i = index" > {{ getSerialNumber(i) }} </td>
      <td mat-footer-cell *matFooterCellDef >Total</td>  
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Product Category </th>
    <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.partyname}} </td>
    <td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="pcs">
  <th mat-header-cell *matHeaderCellDef> Pcs </th>
  <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.mobileno}} </td>
  <td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="gwt">
<th mat-header-cell *matHeaderCellDef> GWT </th>
<td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.adD1}} </td>
<td mat-footer-cell *matFooterCellDef ></td>  
</ng-container>
<ng-container matColumnDef="nwt">
    <th mat-header-cell *matHeaderCellDef> Nwt </th>
    <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.adD2}} </td>
    <td mat-footer-cell *matFooterCellDef ></td>  
    </ng-container>
<ng-container matColumnDef="cts">
<th mat-header-cell *matHeaderCellDef>Cts</th>
<td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.balance}} </td>
<td mat-footer-cell *matFooterCellDef >{{balaceAmt}}</td>  
</ng-container>
<ng-container matColumnDef="diaCts">
    <th mat-header-cell *matHeaderCellDef>Dia Cts</th>
    <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.adD1}} </td>
    <td mat-footer-cell *matFooterCellDef ></td>  
    </ng-container>
    <ng-container matColumnDef="uncts">
        <th mat-header-cell *matHeaderCellDef> Uncuts </th>
        <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.adD2}} </td>
        <td mat-footer-cell *matFooterCellDef ></td>  
        </ng-container>
    <ng-container matColumnDef="grams">
    <th mat-header-cell *matHeaderCellDef>Grams</th>
    <td mat-cell *matCellDef="let element" class="mat-column-position"> {{element.balance}} </td>
    <td mat-footer-cell *matFooterCellDef >{{balaceAmt}}</td>  
    </ng-container>
    
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  
   </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page">
</mat-paginator>
</div>



  <!-- <p>Product Summary Component Works</p> -->
